@import "partials/theme.css";
@import "partials/reset.css";
@import "partials/navbar.css";
@import "partials/slide.css";
@import "partials/button.css";
@import "partials/colors.css";
@import "partials/side-tab.css";

/* reset */
* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
    padding:0;
}

a {
    text-decoration: none;
}


html,
body {
    margin:0;
    padding: 0;
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-fg), var(--dark-fg));
}

.overlay{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-overlay)
}

.backdrop-hero{
    height: calc(100vh);
    min-height: 800px;
    width: 100%;
    background: url(/images/bg-hero.jpg) no-repeat top center / cover;
}