:root {
    color-scheme: light dark;
    /*
    #3c3c3c
    
    --darkblue-50: #588094;
    --darkblue: #003755;
    --darkblue-900: #0f3144;
    
    --lightblue-50: #81c6cc;
    --lightblue: #00aff5;
    --lightblue-900: #005f7f;
    
    --yellow-50: #ffdb8f;
    --yellow: #f5c31e;
    --yellow-900: #91761d;
    
    --tomato-50: #f7a693;
    --tomato: #ff6847;
    --tomato-900: #a33a2a;
    
    --guava-50: #f3a7ae;
    --guava: #f4707c;
    --guava-900: #ac4951;
    
    --green-50: #88c4a3;
    --green: #2ac56c;
    --green-900: #36794d;
    
    #1c1c1c
    #2e2e2e
    #3c3c3c
    
    #edebe6
    #f7f5f1
    #ffffff
  */
    --darkblue-50: #588094;
    --darkblue-500: #003755;
    --darkblue-900: #0f3144;
    --darkblue: #003755;

    --lightblue-50: #86d9fa;
    --lightblue-500: #00aff5;
    --lightblue-900: #0e83cd;
    --lightblue: #00aff5;

    --yellow-50: #ffdb8f;
    --yellow-500: #f5c31e;
    --yellow-900: #c49c19;
    --yellow: #f5c31e;

    --tomato-50: #f7a693;
    --tomato-500: #ff6847;
    --tomato-900: #a33a2a;
    --tomato: #ff6847;

    --guava-50: #f3a7ae;
    --guava-500: #f4707c;
    --guava-900: #ac4951;
    --guava: #f4707c;

    --green-50: #88c4a3;
    --green-500: #2ac56c;
    --green-900: #36794d;
    --green: #2ac56c;
    
    --dark: #2e2e2e;
    --dark-50: #3c3c3c;
    --dark-900: #1c1c1c;
    --dark-a700: #272727;
    --dark-alpha: #2e2e2e33;
    --dark-50-alpha: #3c3c3c33;
    
    --light: #f7f5f1;
    --light-50: #ffffff;
    --light-900: #edebe6;
    --light-a700: #dbdbdb;
    --light-alpha: #f7f5f133;
    --light-50-alpha: #ffffff33;

    /* Tema Claro */
    --primary: var(--lightblue);
    --accent: var(--yellow);
    --warn: var(--tomato);
    --fg: var(--dark);
    --fg-inverse: var(--light);
    --bg: var(--light-900);
    --bg-alpha: var(--light-alpha);
    --bg-inverse: var(--dark-900);
    --bg-inverse-alpha: var(--dark-alpha);
    --surface: var(--light-50);
    --surface-alpha: var(--light-50-alpha);
    --disabled: var(--light-a700);

    /* Transição */
    --transition: 0.1s;

    /* Sombra */
    --shadow-color: var(--dark);
}

/* .light-theme {
    color-scheme: light;
}

.dark-theme {
    color-scheme: dark;
}

body.dark-theme {
    color-scheme: dark;
}

body.light-theme {
    color-scheme: light;
} */
 
.light-theme{
    /* Tema Claro */
    --primary: var(--lightblue);
    --accent: var(--yellow);
    --warn: var(--tomato);
    
    --fg: var(--dark);
    --fg-inverse: var(--light);
    
    --bg: var(--light-900);
    --bg-alpha: var(--light-alpha);
    --bg-inverse: var(--dark-900);
    --bg-inverse-alpha: var(--dark-alpha);
    
    --surface: var(--light-50);
    --surface-alpha: var(--light-50-alpha);
    --surface-inverse: var(--dark-50);
    --surface-inverse-alpha: var(--dark-50-alpha);
    
    --disabled: var(--light-a700);
    
    /* Colors */
    --darkblue: #003755;
    --lightblue: #00aff5;
    --yellow: #f5c31e;
    --tomato: #ff6847;
    --guava: #f4707c;
    --green: #2ac56c;
}

.dark-theme{
    /* Tema Claro */
    --primary: var(--lightblue-900);
    --accent: var(--yellow-900);
    --warn: var(--tomato-900);
    
    --fg: var(--light);
    --fg-inverse: var(--dark);
    
    --bg: var(--dark-900);
    --bg-alpha: var(--dark-alpha);
    --bg-inverse: var(--light-900);
    --bg-inverse-alpha: var(--light-alpha);
    
    --surface: var(--dark-50);
    --surface-alpha: var(--dark-50-alpha);
    --surface-inverse: var(--light-50);
    --surface-inverse-alpha: var(--light-50-alpha);
    
    --disabled: var(--dark-a700);
    
    /* Colors */
    --darkblue: #0f3144;
    --lightblue: #0e83cd;
    --yellow: #c49c19;
    --tomato: #a33a2a;
    --guava: #ac4951;
    --green: #36794d;
}
/* .light-theme */
.disabled {
    background: var(--disabled);
    color: var(--fg);
}

/*  BACKGROUNDS */
.transparent{
    background: transparent;
}

.background-bg{
    background: var(--bg);
    color: var(--fg);
}
.background-bg-alpha{
    background: var(--bg-alpha);
    color: var(--fg);
}
.background-bg-inverse{
    background: var(--bg-inverse);
    color: var(--fg-inverse);
}
.background-bg-inverse-alpha{
    background: var(--bg-inverse-alpha);
    color: var(--fg-inverse)
}

.background-surface{
    background: var(--surface);
    color: var(--fg);
}
.background-surface-alpha{
    background: var(--surface-alpha);
    color: var(--fg);
}
.background-surface-inverse{
    background: var(--surface-inverse);
    color: var(--fg-inverse);
}
.background-surface-inverse-alpha{
    background: var(--surface-inverse-alpha);
    color: var(--fg-inverse);
}

/* ACHO QUE A MELHOR LINHA A SE SEGUIR É SE A PESSOA NÃO COLOCAR A TONALIDADE DA COR ELA VAI SER DINAMICA E MUDAR DE ACORDO COM O TEMA ESCOLHIDO, MAS SE ELA COLOCAR A TONALIDADE DA COR ELA VAI SER ESTÁTICA E NÃO VAI MUDAR DE ACORDO COM O TEMA ESCOLHIDO.

INSERIR ISSO NA PAGINA ELEMENTS PARA FICAR DOCUMENTADO.
*/

.white{
    background: var(--light);
    color: var(--dark);
}
.black{
    background: var(--dark);
    color: var(--light);
}

.darkblue {
    background: var(--darkblue);
    color: var(--light);
}
.lightblue {
    background: var(--lightblue);
    color: var(--light);
}
.yellow {
    background: var(--yellow);
    color: var(--dark);
}
.tomato {
    background: var(--tomato);
    color: var(--light);
}
.guava {
    background: var(--guava);
    color: var(--light);
}
.green {
    background: var(--green);
    color: var(--light);
}

.darkblue-500 {
    background: var(--darkblue);
    color: var(--light);
}
.darkblue-50 {
    background: var(--darkblue-50);
    color: var(--light);
}
.darkblue-900 {
    background: var(--darkblue-900);
    color: var(--light);
}
.lightblue-500 {
    background: var(--lightblue);
    color: var(--light);
}
.lightblue-50 {
    background: var(--lightblue-50);
    color: var(--dark);
}
.lightblue-900 {
    background: var(--lightblue-900);
    color: var(--light);
}
.yellow-500 {
    background: var(--yellow);
    color: var(--dark);
}
.yellow-50 {
    background: var(--yellow-50);
    color: var(--dark);
}
.yellow-900 {
    background: var(--yellow-900);
    color: var(--light);
}
.tomato-500 {
    background: var(--tomato);
    color: var(--light);
}
.tomato-50 {
    background: var(--tomato-50);
    color: var(--dark);
}
.tomato-900 {
    background: var(--tomato-900);
    color: var(--light);
}
.guava-500 {
    background: var(--guava);
    color: var(--light);
}
.guava-50 {
    background: var(--guava-50);
    color: var(--dark);
}
.guava-900 {
    background: var(--guava-900);
    color: var(--light);
}
.green-500 {
    background: var(--green);
    color: var(--light);
}
.green-50 {
    background: var(--green-50);
    color: var(--dark);
}
.green-900 {
    background: var(--green-900);
    color: var(--light);
}
.dark {
    background: var(--dark);
    color: var(--light);
}
.dark-50 {
    background: var(--dark-50);
    color: var(--light);
}
.dark-900 {
    background: var(--dark-900);
    color: var(--light);
}
.light {
    background: var(--light);
    color: var(--dark);
}
.light-50 {
    background: var(--light-50);
    color: var(--dark);
}
.light-900 {
    background: var(--light-900);
    color: var(--dark);
}

/* COLORS */
.color-yellow {
    color: var(--yellow);
}

.color-tomato {
    color: var(--tomato);
}

.color-lightblue {
    color: var(--lightblue);
}

.color-darkblue {
    color: var(--darkblue);
}

.color-white {
    color: var(--light);
}

.color-dark {
    color: var(--dark);
}

.color-fg {
    color: var(--fg);
}

.color-fg-inverse {
    color: var(--fg-inverse);
}

/* BORDER COLOR */
.border-yellow {
    border-color: var(--yellow);
}

.border-tomato {
    border-color: var(--tomato);
}

.border-lightblue {
    border-color: var(--lightblue);
}

.border-darkblue {
    border-color: var(--darkblue);
}

.border-white {
    border-color: var(--light);
}


/* SHADOW COLOR */
.shadow-darkblue-50 {
    --shadow-color: var(--darkblue-50);
}

.shadow-darkblue {
    --shadow-color: var(--darkblue);
}

.shadow-darkblue-900 {
    --shadow-color: var(--darkblue-900);
}

.shadow-lightblue-50 {
    --shadow-color: var(--lightblue-50);
}

.shadow-lightblue {
    --shadow-color: var(--lightblue);
}

.shadow-lightblue-900 {
    --shadow-color: var(--lightblue-900);
}

.shadow-yellow-50 {
    --shadow-color: var(--yellow-50);
}

.shadow-yellow {
    --shadow-color: var(--yellow);
}

.shadow-yellow-900 {
    --shadow-color: var(--yellow-900);
}

.shadow-tomato-50 {
    --shadow-color: var(--tomato-50);
}

.shadow-tomato {
    --shadow-color: var(--tomato);
}

.shadow-tomato-900 {
    --shadow-color: var(--tomato-900);
}

.shadow-guava-50 {
    --shadow-color: var(--guava-50);
}

.shadow-guava {
    --shadow-color: var(--guava);
}

.shadow-guava-900 {
    --shadow-color: var(--guava-900);
}

.shadow-green-50 {
    --shadow-color: var(--green-50);
}

.shadow-green {
    --shadow-color: var(--green);
}

.shadow-green-900 {
    --shadow-color: var(--green-900);
}

.shadow-dark {
    --shadow-color: var(--dark);
}

.shadow-dark-50 {
    --shadow-color: var(--dark-50);
}

.shadow-dark-900 {
    --shadow-color: var(--dark-900);
}

.shadow-light {
    --shadow-color: var(--light);
}

.shadow-light-50 {
    --shadow-color: var(--light-50);
}

.shadow-light-900 {
    --shadow-color: var(--light-900);
}

/* BACKGROUND COLOR */
.bg-darkblue-50 {
    background: var(--darkblue-50);
}

.bg-darkblue {
    background: var(--darkblue);
}

.bg-darkblue-900 {
    background: var(--darkblue-900);
}

.bg-lightblue-50 {
    background: var(--lightblue-50);
}

.bg-lightblue {
    background: var(--lightblue);
}

.bg-lightblue-900 {
    background: var(--lightblue-900);
}

.bg-yellow-50 {
    background: var(--yellow-50);
}

.bg-yellow {
    background: var(--yellow);
}

.bg-yellow-900 {
    background: var(--yellow-900);
}

.bg-tomato-50 {
    background: var(--tomato-50);
}

.bg-tomato {
    background: var(--tomato);
}

.bg-tomato-900 {
    background: var(--tomato-900);
}

.bg-guava-50 {
    background: var(--guava-50);
}

.bg-guava {
    background: var(--guava);
}

.bg-guava-900 {
    background: var(--guava-900);
}

.bg-green-50 {
    background: var(--green-50);
}

.bg-green {
    background: var(--green);
}

.bg-green-900 {
    background: var(--green-900);
}