/*Fun begins*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}

.tab-input, .tab-content {
  clear: both;
  padding-top: 10px;
  display: none;
}

.tab-label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 20%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ .tab-content-wrapper #content1,
#tab2:checked ~ .tab-content-wrapper #content2,
#tab3:checked ~ .tab-content-wrapper #content3,
#tab4:checked ~ .tab-content-wrapper #content4,
#tab5:checked ~ .tab-content-wrapper #content5 {
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeIn 0.7s ease-in-out;
  -moz-animation: fadeIn 0.7s ease-in-out;
  animation: fadeIn 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + .tab-label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + .tab-label .fa {
  color: #0CE;
}

.tab-label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  .tab-label span {
    font-size: 14px;
  }
  .tab-label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .tab-label span {
    display: none;
  }

  .tab-label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeIn {
  0% {
    transform: translate(0, 15px);
  	opacity: 0;
  }
  
  100% {
    transform: translate(0, 0px);
  	opacity: 1;
  }
}