/*Fun begins*/
.tab_container {
	width: 90%;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}

.tab-input,
.tab-content {
  clear: both;
  display: none;
}

.tab-label {
  display: block;
  float: left;
  background: transparent;
  border-color: var(--lightblue) !important;
}


.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeIn 300ms ease-in-out;
  -moz-animation: fadeIn 300ms ease-in-out;
  animation: fadeIn 300ms ease-in-out;
}

.tab_container [id^="tab"]:checked + .tab-label {
  background: #fff;
  box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"]:checked + .tab-label .fa {
  color: #0CE;
}

.tab-label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  .tab-label span {
    /* font-size: 14px; */
  }
  .tab-label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .tab-label span {
    /* display: none; */
  }

  .tab-label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeIn {
  0% {
    transform: translate(0, 5px);
  	opacity: 0;
  }
  
  100% {
    transform: translate(0, 0px);
  	opacity: 1;
  }
}